[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "*"
opencv-python = "*"
pillow = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
